<div role="navigation" id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas ">
  <div class="well sidebar-nav">
    <ul class="nav">
      <li><strong>VAULT</strong></li>
      <li><a href="/"><i class="glyphicon glyphicon-dashboard"></i> Dashboard</a></li>
      <li><strong>CRM</strong></li>
          <li><a href="/accounts/list"><i class="glyphicon glyphicon-home"></i> Accounts</a></li>
          <li><a href="/contacts/list"><i class="glyphicon glyphicon-user"></i> Contacts</a></li>
          <li><a href="/prospects"><i class="glyphicon glyphicon-fire"></i> Prospects</a></li>
      <li><strong>Job Sheets</strong></li>
          <li><a href="/jobs/list"><i class="glyphicon glyphicon-book"></i> Jobs</a></li>
          <li><a href="/timesheets/list"><i class="glyphicon glyphicon-tasks"></i> Timesheets</a></li>
      <li><strong>Tickets</strong></li>
          <li><a href="/tickets/list"><i class="glyphicon glyphicon-bookmark"></i> <span>View</span></a></li>
      <li><strong>Reports</strong></li>
          <li><a href="/reports"><i class="glyphicon glyphicon-stats"></i> <span>View</span></a></li>
    </ul>
  </div><!--/.well -->
</div>