{% extends "base.html" %}

{% block content %}


<div class="col-sm-16">

	<ol class="breadcrumb">
      <li class="active">Prospects</li>
    </ol>



                    <table class="table table-bordered table-responsive" style="font-size:0.8em;">
                        <tr>
                            <th>Prospect Info</strong></th>
                            <th width="50%">Note</th>
                            <th style="white-space:nowrap;" >Next action date</th>
                            <th>Status</th>
                            <td></td>
                        </tr>
                        <form role="form" name="addProspect" method="post" id="addProspect" action="/prospects/add">
                        <tr>
                            <td>
                                <input type="text" class="form-control input-sm" name="prospectCompanyName" id="prospectCompanyName" placeholder="Company name" required>
                                <input type="text" class="form-control input-sm" name="prospectFirstName" id="prospectFirstName" placeholder="First name" required>
                                <input type="text" class="form-control input-sm" name="prospectLastName" id="prospectLastName" placeholder="Last name" required>
                                <input type="text" class="form-control input-sm" name="prospectNumber" id="prospectNumber" placeholder="Contact number" required>
                                <input type="text" class="form-control input-sm" name="prospectEmail" id="prospectEmail" placeholder="Contact email" required>
                            </td>
                            <td><textarea class="form-control input-xs" name="prospectNote" id="prospectNote" rows="6"></textarea></td>
                            <td style="white-space:nowrap;"><input type="text" class="form-control datepicker input-sm" name="prospectFirstcontact" id="prospectFirstcontact" placeholder="Select date"></td>
                            <td style="white-space:nowrap;">
                                <select class="form-control input-xs" name="prospectStatus" >
                                	{% for item in global_substates %}
                                      <option value="{{ item.id }}">{{ item.name }}</option>
                                	{% endfor %}
                                </select>
                            </td>
                            <td style="white-space:nowrap;">
                                <button type="submit" class="btn btn-primary btn-xs">Add <i class="glyphicon glyphicon-plus"></i></button>
                            </td>
                        </tr>
                    </table>
                        </form>
                        
                        
                    <ul class="nav nav-tabs">
                    {% for item in global_substates %}
                        <li {% if loop.index == 1 %}class="active"{% endif %}><a href="#{{ item.name }}" data-toggle="tab">{{ item.name }}</a></li>
                    {% endfor %}
                      </li>
                    </ul>

                 <div class="tab-content">

                {% for states in global_substates %}
                 <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="{{ states.name }}">
                        
                    <table class="table table-bordered table-responsive" style="font-size:0.8em;">
                        <tr>
                            <th>Prospect Info</strong></th>
                            <th width="50%">Note</th>
                            <th style="white-space:nowrap;" >Next action date</th>
                            <th>Status</th>
                            <td></td>
                        </tr>
                        {% for client in content if client.accountsubstatusid == states.id %}
                            <tr class="status-{{ client.contactstatename }}">
                            	<td>
                                <a data-placement="right" href="#" id="name" class="name" data-type="text" data-pk="{{ client.orgid }}" data-url="/prospects/update-account-details" data-title="Enter name" data-value="{{ client.orgname }}">{{ client.orgname|length > 25 ? client.orgname|slice(0, 25) ~ '...' : client.orgname  }}</a>
                                <br />
                                <a data-placement="right" href="#" id="firstname" class="firstname" data-type="text" data-pk="{{ client.contactid }}" data-url="/prospects/update-contact-details" data-title="Enter firstname">{{ client.firstname }}</a> <a data-placement="right" href="#" id="lastname" class="lastname" data-type="text" data-pk="{{ client.contactid }}" data-url="/prospects/update-contact-details" data-title="Enter lastname">{{ client.lastname }}</a>
                                <br />
                                <a data-placement="right" href="#" id="phone" class="phone" data-type="text" data-pk="{{ client.contactid }}" data-url="/prospects/update-contact-details" data-title="Enter phone">{{ client.phone }}</a>
                                <br />
                                <a data-placement="right"  href="#" id="email" class="email" data-type="text" data-pk="{{ client.contactid }}" data-url="/prospects/update-contact-details" data-title="Enter email">{{ client.email }}</a>
                                </td>
                                <td>
                                	{% if client.actiondate|length > 0 %}<span class="lighttext">{{ client.actiondate|date }}</span>
                                    <br />{% endif %}
                                    <a data-placement="bottom" data-defaultValue="null" href="#" id="actionbody" class="actionbody" data-type="textarea" data-pk="{{ client.orgid }}" data-url="/prospects/add-note" data-title="Enter description">{{ client.actionbody }}</a>
                                </td>
                                <td style="white-space:nowrap;">
                                <a data-placement="left" data-pk="{{ client.orgid }}" data-url="/prospects/update-account" data-viewformat="dd/mm/yyyy" data-type="date" id="nextdate" href="#" class="nextdate" style="">{% if client.nextdate|length > 0 %}{{ client.nextdate|date("d/m/Y") }}{% else %}{% endif %}</a>
                                </td>
                                <td style="white-space:nowrap;">
                                <a data-placement="left" data-pk="{{ client.orgid }}" data-url="/prospects/update-account" data-type="select" id="accountsubstatusid" href="#" class="accountsubstatusid_{{ client.orgid }}" style="">{{ client.substatename }}</a>
                                <script>
								$(function(){
									$('.accountsubstatusid_{{ client.orgid }}').editable({
										value: {{ client.accountsubstatusid }},  
										source: [
												{% for item in global_substates %}
											 	 {value: {{ item.id }}, text: '{{ item.name }}'},
												{% endfor %}
										   ]
									});
								});
								</script>
</td>
                                <td>
                                    <div class="btn-group floatright">
                                      <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
                                        Action <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/accounts/view/{{ client.orgid }}" data-toggle="modal"><i class="glyphicon glyphicon-zoom-in"></i> View</a></li>
                                        <li><a href="/accounts/update-status/{{ client.orgid }}/1" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Change to Client</a></li>
                                        <li><a href="/accounts/update-status/{{ client.orgid }}/8" data-toggle="modal"><i class="glyphicon glyphicon-trash"></i> Change to Lapsed</a></li>
                                      </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
            {% endfor %}
			
            
</div>

<script type="text/javascript">

    $(document).ready(function() {
		
		$('.name, .firstname, .lastname, .phone, .email, .actionbody, .nextdate').editable();

		$('.accountsubstatusid').editable({
			ajaxOptions: { dataType: 'html' },
			success: function(response, newValue) {
				alert('e');
				if(response.status == '0'){
					return response.msg;
				}else{
					alert('ok');
				}
			}
		});		
		
    });
 
 </script>
            
{% endblock %}